{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block body %}
    <div class="card m-5 d-flex justify-content-center">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-3">
                    <a>
                        <img src="{% static 'images/comment.png' %}" alt="Comment post">
                        {{ post.comment_set.get_queryset|length }}
                    </a>
                </div>
                {% if post.attachments.get_queryset %}
                    <div class="col-md-6 shadow-lg rounded p-0">
                        <img class="h-100 w-100 rounded" 
                            src="/media/{{ post.attachments.get_queryset.0.file.name }}" 
                            alt="Thumbnail">
                    </div>
                {% else %}
                    <div class="col-md-6"></div>
                {% endif %}
                <div class="col-md-3">
                    <a>
                        <form id="upvote-post-form-{{ post.post_id }}" class="d-inline" method="POST" action="{% url 'blog:vote-post' post.post_id %}?upvote=True">
                            {% csrf_token %}
                            <a href="javascript:;" onclick="document.getElementById('upvote-post-form-{{ post.post_id }}').submit();">
                                <img src="{% static 'images/upvote.png' %}" alt="Upvote">
                            </a>
                        </form>
                        ({{ post.get_votes.upvotes }})
                    </a>
                    <a>
                        <form id="downvote-post-form-{{ post.post_id }}" class="d-inline" method="POST" action="{% url 'blog:vote-post' post.post_id %}?upvote=False">
                            {% csrf_token %}
                            <a href="javascript:;" onclick="document.getElementById('downvote-post-form-{{ post.post_id }}').submit();">
                                <img src="{% static 'images/downvote.png' %}" alt="Downvote">
                            </a>
                        </form>
                        ({{ post.get_votes.downvotes }})
                    </a> 
                </div>
            </div>
            <br>
            <br>
            <h2 class="text-center">
                {{ post.title }}
            </h2>
            <p class="text-center">
                by <a href="{% url 'users:user-view' post.user.username %}">
                    {{ post.user.username }}
                    </a>
            </p>
            <br>
            <div class="card m-2 p-3">
                <p>
                    {{ post.content }}
                </p>
            </div>
            <br>
            <h4>
                Attachments
            </h4>
            {% with attachments=post.attachments.get_queryset %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 w-50 h-50">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    {% for attachment in attachments|slice:"1:" %}
                                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ attachment.id }}"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 h-100 img-fluid" src="/media/{{ attachments.0.file.name }}" alt="First slide">
                                    </div>
                                    {% for attachment in attachments|slice:"1:" %}
                                        <div class="carousel-item w-100 h-100">
                                            <img class="d-block img-fluid h-100 w-100" src="/media/{{ attachment.file.name }}" alt="Second slide">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                {% endwith %}
                <br>
            <h4>
                Comments
            </h4>
            <p id='comment-help-text' class="d-none">
            </p>
            <form id='post-comment-form' method="POST" action="{% url 'blog:comment-post' post.post_id %}">
                {% csrf_token %}
                <div class="container">
                    <textarea name="content" rows="3" class="col-md-9 align-middle"></textarea>
                    <!-- <input id='post-input-submit-btn' type="submit" class="col-md-2" value="Post comment"> -->
                    <button class="btn btn-primary" onclick="postComment({{ post.post_id }})">
                        Post comment
                    </button>
                </div>
            </form>
            <br>
            {% with comments=post.comment_set.get_queryset %}
                {% if comments %}
                    <div class="card m-2 p-3">
                        {% for comment in comments %}
                            {% if not comment.is_reply %}
                                <div class="card h-15 m-2">
                                    <div class="container p-1"> 
                                        <div class="row m-2">
                                            <a href="{% url 'users:user-view' comment.user.username %}">
                                                <img class="rounded-circle mr-2" 
                                                src="{{ comment.user.profile_img }}"
                                                height="60" width="60">
                                            </a>
                                            
                                            <div class="column col-md-9">
                                                <small class="row-md-2">
                                                    {{ comment.user.username }}
                                                </small>
                                                <p>
                                                    {{ comment.content }}
                                                </p>
                                            </div>
                                            <button class="btn btn-light" id='{{ comment.comment_id }}' onclick="replyComment(this)">
                                                Reply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% for reply in comment.replies.get_queryset %}
                                    <div class="card h-15 m-2 ml-5">
                                        <div class="container p-1"> 
                                            <div class="row m-2">
                                                <a href="{% url 'users:user-view' reply.user.username %}">
                                                    <img class="rounded-circle mr-2" 
                                                        src="{{ reply.user.profile_img }}"
                                                        height="60" width="60">
                                                </a>
                                                <div class="column col-md-9">
                                                    <small class="row-md-2">
                                                        {{ reply.user.username }}
                                                    </small>
                                                    <p>
                                                        {{ reply.content }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script>
        var commentId = -1; // holds the comment id if we are replying to comment
        var replyComment = function(elem) {
            commentId = elem.id
            commentHelpTextPTag = document.getElementById('comment-help-text');
            if (commentHelpTextPTag.classList.contains('d-none')) {
                commentHelpTextPTag.classList.remove('d-none')
            }
            commentHelpTextPTag.innerHTML = `Replying to comment with id: ${commentId}`;
        }

        var postComment = function(postId) {
            commentForm = document.getElementById('post-comment-form')
            if (commentId != -1) {
                // replying a comment
                let fullSubmitUrl = "{% url 'blog:reply-comment' 0 0 %}";
                fullSubmitUrl = fullSubmitUrl.replace('0', postId);
                fullSubmitUrl = fullSubmitUrl.replace('/0', `/${commentId}`);
                commentForm.action = fullSubmitUrl;
            }
            commentForm.submit()
        }
    </script>
{% endblock %}