{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="card m-5 d-flex justify-content-center">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-3">
                    <a>
                        <img src="{% static 'images/comment.png' %}" alt="Comment post">
                        {{ post.comment_set.get_queryset|length }}
                    </a>
                </div>
                {% if post.attachments.get_queryset %}
                    <div class="col-md-6 shadow-lg rounded p-0">
                        <img class="h-100 w-100 rounded" 
                            src="/media/{{ post.attachments.get_queryset.0.file.name }}" 
                            alt="Thumbnail">
                    </div>
                {% else %}
                    <div class="col-md-6"></div>
                {% endif %}
                <div class="col-md-3">
                    <a>
                        <img src="{% static 'images/upvote.png' %}" alt="Upvote">
                        {{ post.upvotes }}
                    </a>
                    <a>
                        <img src="{% static 'images/downvote.png' %}" alt="Downvote">
                        {{ post.downvotes }}
                    </a> 
                </div>
            </div>
            <br>
            <br>
            <h2 class="text-center">
                {{ post.title }}
            </h2>
            <br>
            <div class="card m-2 p-3">
                <p>
                    {{ post.content }}
                </p>
            </div>
            <br>
            <h4>
                Attachments
            </h4>
            <div class="d-flex flex-wrap">
                {% if not post.attachments.get_queryset %}
                    <br>
                    <span>No attachments added with this post</span> 
                {% endif %}
                {% for attachment in post.attachments.get_queryset %}
                    <div class="card w-25 m-2 shadow">
                        <img class="rounded h-100 w-100"
                            src="/media/{{ attachment.file.name }}">
                    </div>
                {% endfor %}
            </div>
            <br>
            <h4>
                Comments
            </h4>
            <form method="POST" action="{% url 'blog:comment-post' post.post_id %}">
                {% csrf_token %}
                <div class="container">
                    <textarea name="content" rows="3" class="col-md-9 align-middle"></textarea>
                    <input type="submit" class="col-md-2" value="Post comment">
                </div>
            </form>
            <br>
            {% with comments=post.comment_set.get_queryset %}
                {% if comments %}
                    <div class="card m-2 p-3">
                        <!--Comment container
                            Foreach comment, represent it in a div-->
                        {% for comment in comments %}
                            <div class="card h-15 m-2">
                                <div class="container p-1"> 
                                    <div class="row m-2">
                                        <img class="rounded-circle mr-2" 
                                            src="{{ comment.user.profile_img }}"
                                            height="60" width="60">
                                        <p class="col-md-7">
                                            {{ comment.content }}
                                        </p>
                                        <div class="col-md-3">
                                            <a href="{% url 'blog:upvote-comment' post.post_id comment.comment_id %}">
                                                <img src="{% static 'images/upvote.png' %}" alt="Upvote"
                                                    height="40" width="40">
                                            </a>
                                            ({{ comment.upvotes }})
                                            <a href="{% url 'blog:downvote-comment' post.post_id comment.comment_id %}">
                                                <img src="{% static 'images/downvote.png' %}" alt="Downvote"
                                                    height="40" width="40">
                                            </a> 
                                            ({{ comment.downvotes }})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}