{% extends 'base.html' %}

{% block body %}
    <div class="m-2 p-2">
        {% if user_post_template.title %}
            <h3>
                {{ user_post_template.title }}
            </h3>
            <hr>
        {% endif %}
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% if user_post_template.post_list %}
            {% for post in user_post_template.post_list %}
                {% include 'post.html' with is_owner=True %}
            {% endfor %}
        {% else %}
            <div>
                <h5>No hay posts aun, feed actualizado</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}